.landing-main,
.landing-main-show {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-main__header {
  flex-direction: column;
  align-items: center;
}

.landing-header {
  font-size: 70px;
  text-align: center;
  color: #4b8482;
  text-shadow: 1px 1px 4px #00000066;
  font-weight: 100;
  overflow: hidden;
  border-right: 0.1rem solid #4b8482;
  white-space: nowrap;
  margin: 3rem auto 0 auto;
  letter-spacing: 2px;
  padding-right: 0.5rem;
  animation: typing 1s steps(12, end), blink-caret 0.9s step-end infinite;

  &-initial-1 {
    @extend .landing-header;
    animation: typing-1 1s steps(10, end), blink-caret 0.9s step-end infinite;
  }

  &-initial-2 {
    @extend .landing-header;
    animation: typing-2 2s steps(25, end), blink-caret 0.9s step-end infinite;
  }
}

.landing-main {
  &__title {
    @extend .landing-main;
    color: #4b8482;
    text-shadow: 1px 1px 4px #00000066;
    font-size: 80px;
    font-weight: 100;
    align-self: center;
    opacity: 0;
    transform: translate3d(30px, 0, 0);
    transition: 0.5s linear;
    font-weight: light;

    &-show {
      @extend .landing-main__title;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__skillset {
    transition: 0.5s ease-in-out;
    opacity: 0;
    transform: translate3d(-30px, 0, 0);

    &-show {
      transition: 0.5s ease-in-out;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.landing-main__header {
  display: flex;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15rem;
  }
}

@keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 10rem;
  }
}

@keyframes typing-2 {
  from {
    width: 0;
  }
  to {
    width: 25rem;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #4b8482;
  }
}
