.root__description {
  height: max-content;
  width: 100vw;
  background: #e0ebe8;
  position: relative;

  &__aboutMe {
    margin: auto;
    width: max-content;

    h1 {
      font-size: 60px;
      color: rgb(102, 102, 102);
    }

    p {
      font-size: 25px;
      margin-top: 20px;
    }

    &__skillsets {
      margin: 40px 0;
      padding-left: 20px;

      &-current,
      &-future,
      &-tools {
        @extend .root__description__aboutMe__skillsets;
        border-left: 0.5px solid rgba(0, 0, 0, 0.226);
        p {
          font-size: 20px;
        }
      }
    }

    &__message {
      max-width: 600px;

      div {
        height: 1px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.226);
      }

      p:not(:first-child) {
        margin: 30px 0;
        font-size: 23px;
      }
    }
  }

  p {
    color: rgb(20, 45, 90);
  }
}
