.projects {
  height: 100vh;
  background: #e0ebe8;
  overflow-y: scroll;

  &__panel {
    z-index: 2;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    width: 75%;
    justify-items: center;
    margin: 0 auto 40px auto;
    padding: 40px 0 100px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  }

  &__content {
    &-0,
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8 {
      position: relative;
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px 0;
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.096);

      img {
        max-height: 441px;
        max-width: 900px;
        border-radius: 20px;
      }
    }
  }
}
