.chart-container-show {
  height: max-content;
  text-align: center;
  position: relative;
  opacity: 1;
  transition: 0.5s linear;
  background: #c9e9e0;
  padding: 1em;
}

.chart-container-hide {
  height: 100vh;
  text-align: center;
  position: relative;
  opacity: 0;
  padding: 1em;
}

.resume-page {
  height: 100%;
  width: max-content;
  margin: 2em auto;
  font-family: grotesque;
  border-radius: 0.5rem;
  background: #75aeb1;
  box-shadow: 1px 1px 1px 1px #fafdff2b;
  display: grid;
  position: relative;
  grid-template-columns: 22rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 70rem;
}

.resume-header-title {
  font-size: 6rem;
  color: #92adbd;
  position: absolute;
  top: -12rem;
  left: 0;
  right: 0;
  margin: auto;
}

.resume-header {
  width: 100%;
  background: lighten(#65a4a8, 15%);
  position: relative;
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  grid-column: 1/2;
}

.resume-header::after {
  content: '';
  position: absolute;
  background-color: lighten(#65a4a8, 5%);
  width: 100%;
  height: 50px;
  bottom: -30px;
  left: 0;
  transform: skewY(-10deg);
}

.resume-header::before {
  content: '';
  position: absolute;
  background-color: lighten(#65a4a8, 10%);
  width: 100%;
  height: 50px;
  bottom: 20px;
  left: 0;
  transform: skewY(-10deg);
}

.signature {
  align-self: center;
  margin: 2rem 0;
  height: 4rem;
  width: 16rem;
  filter: hue-rotate(-15deg);
}

.resume-job-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: darken(rgb(0, 137, 139), 2%);
}

.resume-programming,
.resume-recent-work,
.resume-experience-education {
  justify-self: center;
  margin: 0;
  text-align: start;
  margin: 0em 3em;
  /* margin: 5rem 6rem auto auto; */
}

.resume-experience-education {
  margin: -7em 0 0 0;
}

.resume-about {
  grid-column: 1 / 2;
  grid-row: 2 /3;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 3em 0;
}

.resume-programming {
  margin: 3rem 0 0 0;
  grid-row: 1/2;
  grid-column: 2/3;
}

.left-aside {
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  background-color: #bbdebe48;
}

.programming-skills,
.interests,
.recent-work,
.experience-title,
.education-title,
.about-title {
  align-self: center;
  color: #13374a;
  font-weight: 100;
  font-size: 2.5rem;
  margin: 2rem -2rem 0 -2rem;
  display: flex;
  align-items: center;
  svg {
    fill: #13374a;
  }
}

.recent-work {
  font-size: 2.5em;
  margin: 2rem -2rem 0 0rem;
  svg {
    margin: 0 12px;
  }
}

.programming-skills {
  svg {
    margin: 0 10px;
  }
}

.about-title {
  font-size: 2.3em;
  margin: 1rem;
  width: 3.5em;
  justify-content: space-around;
}

.resume-interests {
  text-align: start;
  grid-column: 1/2;
  grid-row: 3 /4;
  align-self: baseline;
  justify-self: center;
  .interests {
    font-size: 2.3em;
    text-align: center;
    width: 4.5em;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    svg {
      fill: #1e5082;
    }
  }
}

.resume-about p {
  font-size: 1.5em;
  color: #d2edff;
  font-weight: 100;
  text-align: left;
  padding: 1em 1.3em 0 1.3em;
}

.recent-work-img {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
}

.resume-project {
  position: absolute;
  text-align: center;
  color: #aec2ce;
  left: 0;
  bottom: 0rem;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.808);
  font-size: 1.4em;
  right: 0;
  height: 3rem;
}
.resume-project-0 {
  margin: 0 0.5rem 0 0;
}

.resume-project-1 {
  margin: 0 1.5rem;
}

.resume-project-2 {
  margin: 0 0 0 0.5rem;
}

.recent-work-gifs {
  margin: 2rem 0;
  position: relative;
}

.recent-work-gif {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(10, 102, 189, 0.219);
}

.recent-work-gif-0 {
  margin: 0 0.5rem 0 0;
}

.recent-work-gif-1 {
  margin: 0 1.5rem;
}

.recent-work-gif-2 {
  margin: 0 0 0 0.5rem;
}

.recent-work-gif-active {
  filter: brightness(20%);
}

.interests-list {
  margin: 1rem 0;
  list-style: none;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0;
}

.interest-item {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin: 0.8rem 0.5rem;
  color: #b1d2e4;

  svg {
    margin: 0 10px;
    fill: #add4e9;
  }
}

.interest-item .fas {
  text-align: start;
  margin-right: 1rem;
}

.resume-experience-education {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resume-experience-education ul {
  list-style: none;
  margin: 1rem 3.5rem;
  padding: 0;
  position: relative;
}

.experience-title,
.education-title {
  margin: 0 1em;
  font-size: 2.2em;
}

.resume-experience-education ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

  border: 1px solid rgba(22, 99, 73, 0.404);
}

.resume-experience-education ul li {
  margin: 20px 20px;
  position: relative;
  font-size: 1.3em;

  color: #0b4680;
  font-weight: 800;
}

.resume-experience-education ul li p {
  margin: 0rem 0.5rem;
}

.experience-time-period,
.education-time-period {
  font-size: 1.4rem;
  color: #596962;
}

.resume-span::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid rgb(113, 199, 159);
  left: -25px;
  top: 0px;
  background-color: rgb(47, 163, 125);
  position: absolute;
  border-radius: 50%;
}

.resume-span::after {
  content: '';
  display: none;
}

.resume-span:hover::before {
  background-color: rgb(12, 42, 69);
  height: 15px;
  width: 15px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.resume-official-link {
  z-index: 10;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: rgb(24, 56, 115);
  cursor: pointer;
  transition: 0.1s linear;
}

.resume-official-link:hover {
  color: rgb(99, 172, 228);
}

@media screen and (max-width: 1150px) {
  .resume-page {
    width: 90vw;
  }
}

@media screen and (max-width: 1050px) {
  .recent-work-img {
    flex-direction: column;
  }

  .resume-page {
    width: 85rem;
  }

  .resume-project {
    width: max-content;
  }
}

@keyframes morphingLogo {
  0% {
    filter: hue-rotate(-45deg);
  }
  50% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(-45deg);
  }
}
